

.main {
    margin-top: 10px; /* adiciona 10px de margem no topo */
    margin-right: 15px; /* adiciona 15px de margem na direita */
    margin-bottom: 5px; /* adiciona 5px de margem na parte inferior */
    margin-left: 20px; /* adiciona 20px de margem na esquerda */
}